.KitCard {
  border: 4px solid black;
  width: 30vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.kit-card-name {
  /* border: 4px solid blue; */
  font-size: xx-large;
  text-align: center;
  padding:0;
  margin:0;
}

.kit-card-img{
  border: 4px solid black;
  width: 18vw;
  height: 18vw;
  padding:0;
  margin:0;
}

.kit-card-img img {
  cursor: pointer;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.kit-card-short {
  /* border: 4px solid blue; */
  padding:0;
  margin:0;
  height: 15%;
  font-size: x-large;
  text-align: center;
}

@media screen and (orientation:landscape) and (max-width: 1024px){
  .KitCard {
    width: 44vw;
    height: 44vw;
  }
  .kit-card-img {
    width: 25vw;
    height: 25vw;
  }
  .kit-card-short {
    height: 20%;
  }
}

@media screen and (orientation:portrait) {
  .KitCard {
    width: 80vw;
    height: 90vw;
  }
  .kit-card-img {
    width: 50vw;
    height: 50vw;
  }
  .kit-card-short {
    height: 25%;
  }
}
