.OpenNavMenu {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.open-nav-home {
  margin-left: 1vw;
  margin-right: auto;
}

.open-nav-home a {
  text-decoration: none;
  color: var(--primary-color);
}

.open-nav-menu {
}

.open-nav-menu ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.open-nav-menu a{
  font-size: xxx-large;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
  align-self: center;
}

.open-nav-social {
  color: var(--primary-color);
  margin-left: auto;
  margin-right: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.nav-social-icon {
  color: var(--primary-color);
}


@media screen and (orientation:landscape) and (max-width: 1024px){
  .OpenNavMenu {
    height: fit-content;
  }
}

@media screen and (orientation:portrait) {
  .OpenNavMenu {
    height: fit-content;
  }
}
