.KitInfo {
  border: 4px solid black;
  width: 40vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
}

.kit-info-name {
  text-align: center;
}

.kit-info-tech {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.kit-info-tech a {
  border: 2px solid black;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  color: var(--primary-color);
  font-size: large;
  font-weight: bold;
}

.kit-info-tech a:hover {
  background-color: green;
}

.kit-info-info {
  margin-top: 4vh;
  padding: 1em;
  /* max-height: 40em; */
  /* overflow-y: scroll; */
}

.kit-info-links {
  margin-top: auto;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4em;
}

@media screen and (orientation:landscape) and (max-width: 1024px) {
  .KitInfo {
    width: 90vw;
    height: fit-content;
  }
}

@media screen and (orientation:portrait) {
  .KitInfo {
    width: 90vw;
    height: fit-content;
  }
}
