.ClosedNavbar {
  border: 4px solid orange;
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.ClosedNavbar button {
  width: fit-content;
  margin: auto;
}

.open-nav-item {

}

@media screen and (orientation:landscape) and (max-width: 1024px){
  .ClosedNavbar {
    height: fit-content;
  }
}

@media screen and (orientation:portrait) {
  .ClosedNavbar {
    height: fit-content;
  }
}
