.NavMenu {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.NavMenu ul {
  list-style-type: none;
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.open-nav-item a{
  text-decoration: none;
  align-self: center;
}

.open-nav-icons {
  margin-left: auto;
}

@media screen and (orientation:landscape) and (max-width: 1024px){
  .NavMenu {
    height: fit-content;
  }
}

@media screen and (orientation:portrait) {
  .NavMenu {
    height: fit-content;
  }
}
