.Kits {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.kits-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

.view-list-btn {
  font-size: xx-large;
  font-family:'Courier New', Courier, monospace;
  background-color: white;
  border: 4px solid black;
}

@media screen and (orientation:landscape) and (max-width: 1400px) {
}

@media screen and (orientation:portrait) {
}
