.Kits {
<<<<<<< HEAD
  /* border: 4px solid orange; */
=======
>>>>>>> 720280b1d16de2e89e6401b020a9aeee2f2057f6
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Kits h2 {
  font-size: x-large;
}

.kits-content {
  /* border: 4px solid black; */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

@media screen and (orientation:landscape) and (max-width: 1024px){
}

@media screen and (orientation:portrait) {
}
