.Kit {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Kit button {
  width: fit-content;
  font-size: xx-large;
}

.kit-content {
  margin-top: 2vh;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  gap: 4em;
}

@media screen and (orientation:landscape) and (max-width: 1024px) {
  .kit-content {
    flex-direction: column;
  }
}

@media screen and (orientation:portrait) {
  .kit-content {
    flex-direction: column;
  }
}
